body {
	background-image: url("./img/wall.jpg");
	background-size: cover;
}

.memo {
	background-color: #95e92f;
	width: 180px;
	height: 180px;
    box-shadow: 10px 5px 5px rgba(171, 77, 77, 0.616);
}

#input-memo-container {
	padding: 15px 9px;
	background-color: #e896de;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#memos-container {
	padding: 22px 5px;
	display: flex;
}

input[type="file"] {
	width: 100%;
}

.memo-item-container {
	position: relative;
}

#memos-container > .memo-item-container {
    margin: 0 15px;
}

.bi-trash-fill {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%,-50%);
}

.bi-pencil-square {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(50%,50%);
}

.bi {
    background-color: rgb(247, 239, 15);
    padding: 10px;
    border-radius: 100%;
}