body {
	background-image: url("./img/wall.jpg");
	background-size: cover;
}

.memo {
	background-color: #f5e37a;
	width: 200px;
	height: 200px;
    box-shadow: 10px 5px 5px black;
}

#input-memo-container {
	padding: 20px 10px;
	background-color: #871313;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#memos-container {
	padding: 20px 0;
	display: flex;
}

input[type="file"] {
	width: 100%;
}

.memo-item-container {
	position: relative;
}

#memos-container > .memo-item-container {
    margin: 0 15px;
}

.bi-trash-fill {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%,-50%);
}

.bi-pencil-square {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(50%,50%);
}

.bi {
    background-color: white;
    padding: 10px;
    border-radius: 100%;
}